body {
    font-family: system-ui, sans-serif;
    text-align: center;
    background: #111;
    color: #fff;
}

h1 {
    margin-top: 40px;
}

#mode {
    font-size: 1.2rem;
    opacity: 0.8;
}

#time {
    font-size: 4rem;
    margin: 20px;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}