:root {
    --bg: #0f0f0f;
    --card: #1c1c1e;
    --primary: #ff3b30;
    --text: #ffffff;
    --sub: #a1a1a6;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Display", "Helvetica Neue", Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
}

.app {
    max-width: 430px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 1.4rem;
}

#mode {
    color:var(--sub);
    margin-top: 4px;
}

.timer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#time {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.controls {
    display: flez;
    gap: 12px;
    padding: 20px;
}

button {
    flex: 1;
    padding: 16px;
    font-size: 1rem;
    border-radius: 14px;
    border: none;
}

button.primary {
    background: var(--primary);
    color: white;
}

button.secondary {
    background: var(--card);
    color: white;
}

button:active {
    opacity: 0.8;
}